[Unit]
Description=The default script of the robot
After=zenoh
Environment="HOME=~"

[Service]
Type=simple
ExecStart=/bin/scripts/startup_default.sh
User=rens

[Install]
WantedBy=multi-user.target

