[Unit]
Description=Starts zenoh bridge
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/scripts/zenoh.sh
User=rens

[Install]
WantedBy=multi-user.target
